@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --sb-track-color: #0A233F;
    --sb-thumb-color: #42A7C5;
    --sb-size: 16px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    border: 2px solid #232e33;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .catenary-scroll {
    scrollbar-color: var(--sb-thumb-color)
    var(--sb-track-color);
  }

  .catenary-scroll::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .catenary-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  .catenary-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    border: 2px solid #232e33;
  }

  html, body { overscroll-behavior: none; } 