@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	--sb-track-color: #e1ecfb;
	--sb-thumb-color: #42a7c5;
	--sb-size: 16px;
}

.dark body {
	--sb-track-color: #0a233f;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
	border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

.catenary-scroll {
	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	scrollbar-width: thin;
}

.catenary-scroll::-webkit-scrollbar {
	width: var(--sb-size);
}

.catenary-scroll::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

.catenary-scroll::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
	border: 2px solid #232e33;
}

html,
body {
	overscroll-behavior: none;
}

/*PROGRESS BAR*/

/*https://www.creative-tim.com/twcomponents/component/indeterminate-progress-bar*/
.progress {
	animation: progress 1s infinite linear;
}

.left-right {
	transform-origin: 0% 50%;
}

@keyframes progress {
	0% {
		transform: translateX(0) scaleX(0);
	}

	40% {
		transform: translateX(0) scaleX(0.4);
	}

	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

.maplibregl-canvas 
{

	background-color: #000000;
}

@media (prefers-color-scheme: dark) {.maplibregl-canvas 
{

	background-color: #000000;
}
}